.page-container {
    display: flex;
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: center;
    align-items: flex-start;
    min-height: 128vh;
    padding: 20px;
}

.blog-header {
    width: 101%;
    height: 1010vh;
    position: absolute;
    left: -1px; /* Ajustez selon l'espace disponible */
    top: -2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 60px;
    background-attachment: fixed;
}

/* Paragraphe de Banner_Image sur Blogs_Details */ 
.text-left-shift {
    transform: translateX(-5px);
    transition: transform 0.3s ease-in-out;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.blog-layout {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.blog-content {
    flex: 2;
    text-align: left;
}

.blog-content p {
    text-align: left;
}

.main-image {
    width: 100px;
    max-width: 350px;
    max-height: 200px;
    cursor: pointer;
    border-radius: 50em;
    transition: transform 0.3s ease;
}

.main-image:hover {
    transform: scale(1.05);
}

.recent-articles {
    flex: 1;
    border-left: 3px solid #000;
    padding-left: 10px;
    min-width: 350px; /* Ajuster la largeur pour éviter une section trop grande */
    margin-top: 0;
}

.recent-articles h3 {
    font-size: 1.8rem;
    border-bottom: 3px solid #1E88E5; /* Ajoute la ligne bleue sous 'Articles récents' */
    display: inline-block;
    padding-bottom: 5px;
}

.recent-articles ul {
    list-style: none;
    padding: 0;
}

.recent-articles li {
    margin-bottom: 10px;
}

.recent-articles a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.article-thumbnail {
    width: 55px; /* Réduction de la taille */
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}
.text-justify {
    text-align: justify;
}



/* Réactivité pour les petits écrans (smartphones) */
@media screen and (max-width: 768px) {
    .blog-content {
        margin-top: 95%;
    }
    .recent-articles {
        margin-top: 5%;
        padding-left: 0;
    }
    .recent-articles h3 {
        text-align: center;
    }
    .recent-articles a {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .article-thumbnail {
        margin-bottom: 10px;
    }
    .article-title{
        text-align: center;
    }
}

/* Réactivité pour les écrans de taille 358px */
@media screen and (max-width: 358px) {
    .blog-header {
        min-height: 25vh; /* Ajuster la hauteur de l'en-tête pour les très petits écrans */
        padding: 0 5px; /* Réduire les marges internes */
    }
    .blog-content {
        margin-top: 208%;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .blog-header h1 {
        font-size: 2.5rem; /* Réduire encore la taille du titre */
    }

    .blog-header p {
        font-size: 0.8rem; /* Réduire la taille du texte pour s'adapter aux petits écrans */
        width: 100%; /* Utiliser toute la largeur disponible */
        margin: 0 auto; /* Centrer le texte */
    }
}


